<div class="page-header">
	<h1>NUGGET HOME PAGE</h1>
	<p>
		<% if(current_user) %>
			<%= link_to "New Text Post", new_text_post_path, class: "btn btn-default" %>
			<%= link_to "New Image Post", new_image_post_path, class: "btn btn-default" %>
		<% end %>
	</p>
	<p>
</div>
<%= render @posts %>

<%= will_paginate @posts %>