@import "bootstrap-sprockets";
@import "bootstrap";


.panel{
	padding: 10px 10px 10px 10px;
	
}
.panel-primary{
	background-color: black;
	color: white; 
}
img{
	align: center;
	margin: 10px 0px 10px 0px;
}
a:hover{
	color: #5D8AA8;
	background-color: none;
	text-decoration: none;
}
body{
	background: #5D8AA8;
}

div#wrapper{
	margin: auto;
	background: white;
	width: 800px;
	height: 200px;
}

header{
	display: block;
	padding: 10px 10px 30px 10px;
}

.websiteLogo{
	float: left;
	text-decoration: none;
}

.websiteTitle{
	font-size: 50px;
	font-decoration: none;
	font-weight: bold;
	display: inline;
	line-height: 80px;
	padding-left: 20px;
}

#horzNav{
	display: block;
	padding: 10px 20px 10px 10px;
}

#horzNav a {
	text-decoration: none;
	font-weight: bold;
	font-size: 15px;
	background: #007ebd;
	color: white;
	border-radius: 10px;
	padding: 10px;
	margin: 5px;
}

#horzNav a:hover{
	color: white;
}

main{
	 padding: 10px 10px 20px 10px;
}

.like:hover{
	text-decoration: none;
}
.lead{
	margin-top: 20px;
}
